{% extends 'registration/base.html' %}
{% load static %}

{% block content %}
    {% include 'registration/header.html' %}
    <div class="container">
        <h1>Войти</h1>

        {% if form.errors %}
            <div class="error-message">
                <p>Неверное имя пользователя или пароль.</p>
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Имя пользователя:</label>
                <input type="text" name="username" class="form-control" id="id_username" value="">
            </div>
            <div class="form-group">
                <label for="id_password">Пароль:</label>
                <input type="password" name="password" class="form-control" id="id_password">
            </div>
            <div class="form-group">
                <button type="submit" class="button">Войти</button>
            </div>
        </form>
    </div>
{% endblock %}
